.card{
    border: solid;
    border-radius: 8px;
    border-color: rgb(102, 105, 108);
    max-height: 250px;
    max-width: 250px;
    padding: 10px;
    
}


.card img{
    size: auto;
    margin: auto auto 10px;
}

.card p{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: auto;
}